doctype html
html
  include layout/head
  body
    include layout/navbar
    .container-fluid
      .row
        include layout/sidebar
        main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
            h1.h2 #{judul}
          
          form(method="post" action="")
            .form-group
              label(for="date") * Date
              input.form-control(type="date" name="date" id="date" required)
            .form-group
              label(for="user") * User
              select.form-control(type="text" name="user" id="user")
            .form-group
              label(for="description") * Description
              input.form-control(type="text" name="description" id="description" required maxlength="100")
            .form-group
              label(for="remediation") * Remediation
              input.form-control(type="text" name="remediation" id="remediation" required maxlength="100")
            .form-group
              label(for="rootcause") * Root Cause
              input.form-control(type="text" name="rootcause" id="rootCause" required maxlength="100")
            .form-group
              label(for="status") * Status
              select.form-control(name="status" id="status" required)
                option(value="done") Done
                option(value="pending") Pending
            .form-group
              label(for="support") * Support by
              select.form-control(type="text" name="support" id="support")
            .form-group
              .btn-group
                input.btn.btn-success(type="submit" value="Save")
                input.btn.btn-danger(type="reset" value="Reset")
    include layout/footer
        script.
          $(function(){
              $.get("http://localhost:1999/users/get", function(users){
                for (var user in users){
                  $("#user").append(
                    "<option value='"+users[user]._id+"' style='text-transform: capitalize'>"+users[user].name+", "+users[user].department+", location : "+users[user].location+"</option>"
                  );
                }
              }, "json");
              $.get("http://localhost:1999/its/get", function(its){
                for (var it in its){
                  $("#support").append(
                    "<option value='"+its[it]._id+"'>"+its[it].name+"</option>"
                  );
                }
              });
              $.get("http://localhost:1999/tasks/get/#{id}", function(tasks){
                for (var task in tasks){
                  $("#date").val(tasks[task].date);
                  $("#user").val(tasks[task].user["_id"]);
                  $("#description").val(tasks[task].description);
                  $("#remediation").val(tasks[task].remediation);
                  $("#rootCause").val(tasks[task].rootCause);
                  $("#status").val(tasks[task].status);
                  $("#support").val(tasks[task].it["_id"]);
                }
              }, "json");
          });