footer
script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script.
    $(function(){
        $.get("users/get", function(users){
            var startNumber = 1;
            for(var user in users){
                $("#userList").append("<tr>"+
                    "<th>"+startNumber+"</th>"+
                    "<th>"+users[user]._id+"</th>"+
                    "<th>"+users[user].name+"</th>"+
                    "<th>"+users[user].department+"</th>"+
                    "<th>"+users[user].location+"</th>"+
                    "<th><a href='users/"+users[user]._id+"' class='badge badge-primary'>Edit</a> <a href='users/delete/"+users[user]._id+"' class='badge badge-danger'>Delete</a></th>"+
                "</tr>");
                startNumber++;
            }
        }, "json");
    });