footer.footer
    div.container-fluid
      div.footer-copyright.text-right.py-3 © 2019 Copyright. Made by 
        a(href="https://github.com/xanarciz" target="_blank") Xanarciz

script(src="http://localhost:1999/js/bootstrap.min.js")
