head
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(charset="utf-8")
  title #{judul}
  link(rel="stylesheet" href="http://localhost:1999/css/bootstrap.min.css")
  link(rel="stylesheet" href="http://localhost:1999/css/dashboard.css")
  script(src="http://localhost:1999/js/jquery.min.js")