nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/dashboard") Dashboard
        
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Employee
      
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/its") ITs
        
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/users") Users
        
    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Tasks And Reports
      
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/task/add") Add Task
        
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/task/report") Print Report

    h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
      span Setting

    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/about") About

    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="http://localhost:1999/login/signout") Sign Out
